#navbar {
    margin-bottom: 10px;
}
#navbar * .ui.inverted.segment{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1001;
}
#champselect-A.ui.multiple.dropdown > .label,
#champselect-B.ui.multiple.dropdown > .label {
    line-height: 2em;
    text-align: center;
    width: inherit;
}

#champselect-A > .ui.label > img,
#champselect-B > .ui.label > img{
    float: left;
}

#champselect-A > .ui.label > i.delete.icon,
#champselect-A > .ui.label > i.delete.icon,
#champselect-B > .ui.label > i.delete.icon,
#champselect-B > .ui.label > i.delete.icon{
    float: right;
    line-height: 2em;
}

.ui.list > .item > img.image + .content{
    text-align: left;
}

#fight{
    margin-top: 3em;
}

.footer {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
    color: #777;
    text-align: center; 
}