#navbar {
    margin-bottom: 10px;
}
#navbar * .ui.inverted.segment{
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 1001;
}
#champselect-A.ui.multiple.dropdown > .label,
#champselect-B.ui.multiple.dropdown > .label {
    line-height: 2em;
    text-align: center;
    width: inherit;
}

#champselect-A > .ui.label > img,
#champselect-B > .ui.label > img{
    float: left;
}

#champselect-A > .ui.label > i.delete.icon,
#champselect-A > .ui.label > i.delete.icon,
#champselect-B > .ui.label > i.delete.icon,
#champselect-B > .ui.label > i.delete.icon{
    float: right;
    line-height: 2em;
}

#fight-error{
    margin: 15px;
    color: #db2828;
    font-size: 0.85em;
}

.ui.list > .item > img.image + .content{
    text-align: left;
}
.ui.statistic > .value ~ .label{
    line-height: 1em;
}

#filter{
    margin: 0 auto;
}

.ui.filter-buttons.images .image, .ui.filter-buttons.images img{
    width: 50px;
    height: auto;
    font-size: 0.71428571em;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 20%;
    padding: 5px;
}

.patch-select{
    margin-top:10px;
}

.ui.filter-buttons.images .select-filter.image{
    background-color: rgba(0,210,210,0.2);
    box-shadow: 0 0 5px #0DAA92;
}

#patch511{
    margin-right: 5px;
}
#patch511, #patch514{
    padding: 10px;
    width: 49%;
}

.ui.header > img + .content{
    width: 35%;
    text-align: left;
}

.win-rate{
    float: right;
}

.ui.horizontal.list>.item{
    margin-left: 0.2em;
}

.filler{
    width: 35px;
    height: 35px;
}

.patch-header{
    margin: 0;
    line-height: 1em;
}

.item-name{
    font-size: 1.1em;
    margin-bottom: 5px;
}
.item-time{
    text-align: left;
}

#duplicate-warning{
    color: #CC0000;
}

.footer {
    margin-top: 50px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 19px;
    border-top: 1px solid #e5e5e5;
    color: #777;
    text-align: center;
}