.axis path,
.axis line {
    fill: none;
    stroke: rgba(0,0,0,0.65);
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.midaxis path {
	shape-rendering: crispEdges;
	stroke-dasharray: 2,2;
	stroke: #777;
}

.midaxis line, .midaxis text {
	display:none;
}

text{
	font-family: Lato;
	font-size: 0.8em;
}

.sort-select{
    margin-top:15px;
}